.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#d8eff3, #b1e0e9);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  overflow: hidden;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  align-items: center;
  padding: 0 2rem;
  margin: 0.5rem 0;
  margin-bottom: 2rem;
}

.body {
  display: flex;
  height: 100%;
  width: 100%;
}
.logo {
  font-size: 30px;
  font-weight: bold;
}

.nav {
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  padding-top: 1rem;
}
.nav__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav__el {
  padding: 0.8rem 0.5rem;
  display: flex;
  justify-content: flex-start;
  padding-left: 25%;
  align-items: center;
  border-radius: 0rem 1rem 1rem 0;
  transition: all 0.2s;
}
.active {
  background-color: #72ddf7;
  border-left: 10px solid #4895ef;
  transition: all 0.2s;
}
.nav__el a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: black;
}
.nav__el a span {
  font-size: 18px;
}

.nav__el a svg {
  font-size: 22px;
}

.dashboard {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem 0.5rem 2rem;
  display: flex;
  flex-direction: column;
}
.widget {
  background: linear-gradient(180deg, #a2d2ff 0%, #4895ef 100%);
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}
.widget__top {
  display: flex;
}
.widget__icon {
  width: 100%;
  display: flex;
  justify-content: center;
}
.widget__icon span {
  margin: 0.5rem 0;
  border: 3px solid white;
  box-shadow: 0 0 15px white;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.widget__icon span svg {
  font-size: 35px;
  color: white;
}
.widget__reasult {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.widget__reasult span {
  position: relative;
  top: 0.5rem;
  padding-right: 1rem;
  color: white;
  font-weight: 500;
  font-size: 28px;
}
.panel {
  display: flex;
  gap: 2rem;
}
.widget__bottom {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0 1rem;
  color: white;
}
.widget__bottom span {
  font-weight: 600;
  font-size: 16px;
}
.widget__bottom span:nth-last-of-type(1) {
  font-weight: 400;
}

.lastOrders {
  margin-top: 4rem;
}
.lastOrders h2 {
  font-weight: 500;
  margin-bottom: 1rem;
}
.Orders h2 {
  font-weight: 500;
  margin-bottom: 1rem;
}
.table {
  min-width: 70%;
  max-width: 900px;
  width: 100%;
  background-color: white;
  padding: 1rem 0;
  border-radius: 0.5rem;
  border: none;
}

.table thead {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 2px solid #b1e0e9;
  padding: 0 1rem 1rem 1rem;
}
.table thead tr {
  width: 100%;
  font-size: 20px;
}
.table tbody {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 1rem 0 1rem;
}
.row {
  display: flex;
  width: 100%;
}

.row td {
  width: 100%;
  font-size: 18px;
}
.GoToMore {
  color: #4895ef;
  cursor: pointer;
}
.Tableslider {
  overflow: auto;
}

.OrdersTable {
  min-width: 100%;
  max-width: 100%;
}

.OrdersSlider {
  max-width: 90%;
  overflow: auto;
  max-height: 600px;
}
.OrdersSlider::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.OrdersSlider::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.OrdersSlider::-webkit-scrollbar-thumb {
  background: #4895ef;
  border-radius: 10px;
}
.SortOrders {
  min-height: 100px;
  width: 90%;
  background-color: white;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav {
    max-width: 200px;
  }
  .table {
    width: 100%;
    max-width: 100%;
  }
  .Orders {
    margin-left: 2rem;
  }
  .dashboard {
    padding: 0.5rem 2rem 0.5rem 0rem;
  }
  .SortOrders {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .nav__el a span {
    display: none;
  }
  .row td {
    font-size: 14px;
  }
  .table thead tr {
    font-size: 16px;
  }

  .nav {
    min-width: 60px;
    max-width: 60px;
  }
  .nav__el {
    padding-left: 22%;
  }
  .active {
    border-left: 5px solid #4895ef;
  }
  .logo {
    font-size: 18px;
  }
  .header {
    height: 4rem;
    margin-bottom: 0.5;
  }
}
@media screen and (max-width: 768px) {
  .table {
    min-width: 600px;
  }
  .Tableslider {
    overflow: auto;
  }
  .lastOrders {
    max-width: 90%;
    margin-bottom: 2rem;
  }
  .Orders {
    margin-left: 1rem;
  }
  .SortOrders {
    margin-left: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .widget {
    max-width: 250px;
  }
  .widget__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 350px) {
  .logo {
    font-size: 14px;
  }
  .header {
    height: 3rem;
    margin-bottom: 0;
  }
  .widget {
    max-width: 180px;
  }

  .widget__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .widget__reasult {
    display: flex;
    justify-content: center;
  }
  .widget__reasult span {
    padding: 0;
  }
}
